.login-form1{
    height: 470px;
    width: 350px;
    border: 1px solid rgb(231, 228, 228);
    border-radius: 10px;
    margin: 30px auto;
}
.login-form1 h2{
    text-align: center;
}
#email1, #password1, #button1, #google1, #confirm{
    width: 100%;
    margin: 10px auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding-left: 10px;
}
#button1{
    background-color: orange;
}
#new1{
    color: orange;
}
#small1{
    text-align: center;
}
.form1{
    margin: auto;
    padding-inline: 40px;
}
#img1{
    width: 20px;
    height: 20px;
    margin: auto;
    padding-top: 3px;
}